/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container */
.navbar {
  width: 100%;
  padding: 20px 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.922);
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #00d4ff;
}

/* Desktop menu */
.nav-links {
  display: flex;
  gap: 40px;

  transition: 0.4s ease;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00d4ff;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #00eaff;
}

.nav-link.active {
  color: #00eaff;
  font-weight: 600;
}


/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 5%;
    height: 70px;
  }

  .logo {
    font-size: 24px;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    flex-direction: column;
    background: rgba(0,0,0,0.95);
    padding: 25px;
    width: 200px;
    gap: 20px;
    border-radius: 12px 0 0 12px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links a {
    font-size: 18px;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 15px 4%;
  }

  .logo {
    font-size: 20px;
  }

  .nav-links {
    width: 180px;
    padding: 20px;
  }

  .nav-links a {
    font-size: 16px;
  }
}
